.nav-bar {
    position: sticky;
    top: 3.5rem;
    display: flex;
    flex-direction: column;
    height: 15rem;
    background-color: var(--mail-main-bg-clr);
}

.nav-bar .btn-compose {
    display: flex;
    gap: 1rem;
    max-width: 10rem;

    padding: 1rem;
    background-color: #C2E7FF;
    border-radius: 15px;
    border: none;
    margin-inline: 0.3rem;
    margin-block-end: 1rem;
    font-family: lato-reg;
    font-size: 1rem;
    color: rgb(69, 69, 69);
}

.nav-bar .btn-compose:hover {
    cursor: pointer;
}

.nav-bar .btn-compose img {
    width: 1rem;
}

.nav-bar .nav-btns {
    display: flex;
    flex-direction: column;
}

.nav-bar .nav-btns button {
    all: unset;
    display: flex;
    gap: 1rem;

    cursor: pointer;

    padding: 0.5rem;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    margin-inline-start: 0.7rem;

    font-family: lato-reg;
    color: rgb(69, 69, 69);
    transition: 0.4s;
}

.nav-bar .nav-btns button:hover {
    background-color: rgb(229, 230, 231);
}

.nav-bar .nav-btns button img {
    display: inline;
    width: 1rem;
}

.selected {
    background-color: pink;
}