.nav-bar {
    z-index: 1;
    position: sticky;
    top: 3.5rem;
    display: flex;
    flex-direction: column;
    height: 15rem;
    background-color: var(--mail-main-bg-clr);
}

.nav-bar .btn-compose {
    display: flex;
    gap: 1rem;

    align-self: start;

    padding: 1rem;
    background-color: #C2E7FF;

    border: none;
    border-radius: 20px;
    margin-inline: 0.3rem;
    margin-block-end: 1rem;
    font-family: lato-reg;
    font-size: 1rem;
    color: rgb(69, 69, 69);
    transition: 0.4s;
}

.nav-bar .btn-compose:hover {
    cursor: pointer;
}

.nav-bar .btn-compose img {
    width: 1rem;
}

.nav-bar .nav-btns {
    display: flex;
    flex-direction: column;
}

.nav-bar .nav-btns button {
    all: unset;
    display: flex;
    gap: 1rem;

    align-self: start;

    cursor: pointer;

    padding: 0.5rem;
    margin-inline-start: 0.7rem ;
    border-radius: 50%;

    font-family: lato-reg;
    color: rgb(69, 69, 69);
    transition: background-color 0.4s;
}

.nav-bar .nav-btns button:hover {
    background-color: rgb(229, 230, 231);
}

.nav-bar .nav-btns button img {
    display: inline;
    width: 1.2rem;
}

.nav-bar .btn-compose.show {
    border-radius: 20px;
}

.nav-bar .btn-compose.show::after {
    content: 'Compose';
}

.nav-bar .nav-btns button.show {
    align-self: stretch;
    width: 12rem;
    border-radius: 0;
    margin-inline-start: 0;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    padding-inline-start: 1rem;

}

.nav-bar .nav-btns button.show:first-child::after {
    content: 'Inbox';
}

.nav-bar .nav-btns button.show:nth-child(2)::after {
    content: 'Starred';
}

.nav-bar .nav-btns button.show:nth-child(3)::after {
    content: 'Sent';
}

.nav-bar .nav-btns button.show:nth-child(4)::after {
    content: 'Drafts';
}

.nav-bar .nav-btns button.show:nth-child(5)::after {
    content: 'Archive';
}


.nav-btns button.selected {
    background-color: #D3E3FD;
    font-family: lato-bold;
}

.nav-btns button.selected:hover {
    background-color: #D3E3FD;
}