/* SMALL MOBILE */
@media (max-width: 380px) {

    .mail-main-container {
        display: grid;
        background-color: var(--mail-main-bg-clr);
    }

    .mail-main-container.show {
        display: grid;
        grid-auto-flow: column;
    }

    .mail-header {
        grid-template-columns: 13.2rem 1fr;
    }

    .mail-list article {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .compose-mail {
        top: 2rem;
        left: 50%;
    }

    .mail-list .btns-mail-prev {
        gap: 0.1rem;
    }
}


/* MOBILE */
@media (min-width: 380px) {

    .mail-main-container {
        display: grid;
        background-color: var(--mail-main-bg-clr);
    }

    .mail-main-container.show {
        display: grid;
        grid-auto-flow: column;
    }

    .mail-header {
        grid-template-columns: 13.2rem 1fr;
    }

    .mail-list .mail-prev-date {
        padding-inline-start: 2rem;
    }

    .mail-list article {
        grid-template-columns: 1fr 2fr 1fr;
    }

    .compose-mail {
        width: 20rem;
        top: 17rem;
        left: 50%;
    }

    .mail-list .btns-mail-prev {
        gap: 0.1rem;
    }
}


/* TABLET */
@media (min-width: 600px) {

    .mail-list article {
        grid-template-columns: 1fr 4fr 1fr;
    }

    .compose-mail {
        width: 28rem;
        left: 10rem;
    }

    .mail-list .btns-mail-prev {
        gap: 0.5rem;
    }
}


/* DESKTOPS */
@media (min-width: 900px) {

    .compose-mail {
        left: 20rem;
        width: 600px;
    }

    .mail-list .star {
        margin-inline-start: 1rem;
    }
}


@media (min-width: 1200px) {

    .compose-mail {
        width: 800px;
    }
}