.note-index {
  overflow: hidden;
  background-color: white;
}

.note-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-rows: 400px 200px auto auto;
  grid-auto-flow: dense;
  gap: 5px;
  padding: 60px;
  margin: 0 auto;
  margin-inline-start: 200px;
}