@media (max-width: 1115px) {
  .note-filter input {
    width: 350px;
    position: relative;
    right: 240px;
  }

  .btn-filter {
    right: 275px;
  }

  .view-button {
    left: 75%;
  }

  .refresh-button {
    left: 71%;
  }

  .settings-button {
    left: 79%;
  }

  .apps-button {
    left: 90%;
  }

  .user {
    left: 95%;
  }

  .note-input {
    width: 400px;
  }

}

@media (max-width: 800px) {
  .note-filter input {
    width: 200px;
  }

  .view-button {
    left: 74%;
  }

  .refresh-button {
    left: 69%;
  }

  .settings-button {
    left: 79%;
  }

  .apps-button {
    left: 87%;
  }

  .user {
    left: 93%;
  }
}

@media (max-width: 860px) {
  .note-input {
    margin-left: -20%;
    width: 300px;

  }
}
@media (max-width: 650px) {
  .note-input {
    width: 300px;
    margin-left: -25%;
  }
}

@media (max-width: 600px) {
  .note-filter input {
    width: 200px;
  }

  .view-button {
    left: 74%;
  }

  .refresh-button {
    left: 69%;
  }

  .settings-button {
    left: 79%;
  }

  .apps-button {
    left: 85%;
  }

  .user {
    left: 92%;
  }
  .note-input {
    width: 300px;
    margin-left: -32%;
  }
}