header {
    background-color: white;
    border-bottom: 1px solid var(--grey1);
}

.app-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    font-family: lato-light;

}

nav a {
    margin: .5em;
}

nav a:active {
    color: var(--grey1);
}

nav a.active {
    color: rgb(173, 201, 230);
    font-weight: bold;
    text-decoration: overline;
}

.app-header img {
    padding-inline-start: 2rem;
    width: 3rem;
}

.app-header h3 {
    font-family: lato-light;
}